
.moduleImage {
  object-fit: cover;
}

.info {
  padding: 16px;
}

.info h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.info p {
  font-size: 1rem;
  color: var(--neutral-600);
  line-height: 1.5;
}

.featuredModule {
  width: 100%;
}

.moduleCard {
  position: relative;
  width: 100%;
  height: 500px;
  background: #fafafa;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}

.moduleCard:hover {
  opacity: 0.8;
}

.moduleImageContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.moduleImageContainer:hover {
  border: 0;
}

.moduleContent {
  padding: 16px;
  color: #eee;
  background: #383838;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Featured module specific styles */
.featuredModule .moduleContent {
  background: #272727;
}

.moduleTitle {
  font-size: 1.875rem;
  font-weight: 500;
  margin-bottom: 4px;
}

.moduleDescription {
  font-size: 1.125rem;
}

.moduleGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
}

@media (min-width: 640px) {
  .moduleGrid {
    gap: 32px;
  }
}

@media (min-width: 1024px) {
  .moduleGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.moduleDouble {
  grid-column: span 2;
}

.moduleTriple {
  grid-column: span 2;
}

@media (min-width: 1024px) {
  .moduleTriple {
    grid-column: span 3;
  }
}

.smallModuleTitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 4px;
}

.smallModuleDescription {
  font-size: 0.875rem;
  color: #e5e5e5;
}

.categoryHeading {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 48px;
  margin-bottom: 24px;
  color: #272727;
}

.categoryHeading:first-child {
  margin-top: 0;
} 