.content {
  font-size: 1.125rem;
  line-height: 1.6;
}

.content h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
}

.content p {
  margin: 1rem 0;
}

.content ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
  list-style-type: disc;
}

.content li {
  margin: 0.5rem 0;
}

.content a {
  color: #0077ff;
  text-decoration: none;
}

.content a:hover {
  border-bottom: 1px solid #0077ff;
}

.content blockquote {
  background-color: #f6f6f6;
  padding: 8px 40px;
  border-left: 6px solid #06a523;
  font-size: 1rem;
}

.content ol {
  padding-left: 50px;
  list-style-type: decimal;
}

.content ol li {
  margin: 0.5rem 0;
}






