.container {
  display: flex;
  gap: 2rem;
}

.content {
  min-width: 0;
  flex: 1;
}

.content h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.summary {
  font-size: 1.25rem;
  color: var(--neutral-600);
  margin-bottom: 48px;
}

.markdownWrapper {
  max-width: 800px;
}

@media (max-width: 768px) {
  .container {
    margin-top: -50px;
    flex-direction: column;
  }
  
  .content {
    padding-bottom: 2rem;
  }
}